html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  color: #333;
  line-height: 2;
  background-color: #ffc600;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.main {
  width: 60%;
  background-color: white;
  padding: 5rem 7.5rem 5rem 7.5rem;
  overflow: hidden;
  border-radius: 2rem;
}

.left {
  float: left;
  margin-right: 1rem;
  transform: translateX(-100%);
}

.right {
  float: right;
  margin-left: 1rem;
  transform: translateX(100%);
}

.sliding {
  padding: 1rem;
  transition: all 1s;
  opacity: 0;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

img {
  display: inline-block;
}
