html {
  font-size: 62.5%;
  @media only screen and (max-width: 600px) {
    font-size: 40%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 4rem;
  color: white;
  font-family: 'Satisfy', cursive;
}

.panels {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.panel-1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel-2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}
.panel-3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel-4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}
.panel-5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

.panel {
  display: flex;
  gap: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100%;
  flex: 1 1;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  text-shadow: 0.1rem 0.1rem rgba($color: #000000, $alpha: 0.5);
  transition: all 0.7s cubic-bezier(0.59, -0.57, 0.38, 1.63);
  overflow: hidden;

  & > * {
    transition: all 1s;
  }

  & > *:first-child {
    font-size: 3rem;
    transform: translateY(-100rem);
  }
  & > *:last-child {
    font-size: 3rem;
    transform: translateY(100rem);
  }
}

.open {
  flex: 5;
  & > *:nth-child(2) {
    font-size: 6rem;
  }
}

.active > *:first-child {
  transform: translateY(0);
}

.active > *:last-child {
  transform: translateY(0);
}
