$background-color: #193549;
$font: 'helvetica neue', sans-serif;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: $font;
  height: 100vh;
}

:root {
  --color: #ffc600;
  --blur: 0px;
  --spacing: 10px;
}

.main {
  @include center;
  flex-direction: column;
  gap: 48px;
  background-color: $background-color;
  min-height: 100%;
  padding: 48px;
}

.primary-heading {
  font-size: 48px;
  text-align: center;
  .hl {
    text-transform: uppercase;
    color: var(--color);
  }
}

.ranges {
  @include center;
  gap: 148px;
}

.label {
  @include center;
  gap: 18px;
  font-size: 24px;
  font-weight: 100;

  input[type='color'] {
    border: 0.2px white solid;
    height: 26px;
    margin-top: -18px;
  }
}

figure {
  width: 50%;
  padding: var(--spacing);
  background-color: var(--color);
}

img {
  filter: blur(var(--blur));
  width: 100%;
  display: inline-block;
}
